body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#vwrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: calc(100vh - 3px);
}

#mainBody {
  display: flex;
  flex-direction: row;
  background-color: lightpink;
  padding: 0.5rem;
  height: calc(100vh - 3px);
}


.column {
  display: flex;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.mainColumn {
  flex: 2 1 auto;
}

.gotRightSideNeighbour {
  margin-right: 1rem;
}

#header {
  padding: 2rem, 0;
  background-color: lightgray;
  text-align: center;
}

#footer {
  background-color: lightgray;
  text-align: center;
}



------
.gridstuff {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;}

  #flexstuff {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }