#vwrapper {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

header {
  background-color: lightgray;
  text-align: center;
}

footer {
  background-color: lightgray;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px)
}

#journalMainBody {
  margin: 0.5rem;
  flex: 2 1 auto;
}

#tradesMainBody {
  margin: 0.5rem;
  flex: 1 1 auto;
}

.no-overflow-text-style {
  white-space: nowrap;
}

.container-with-centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-Grow: 1;
  flex-Shrink: 1;
}

ul {
  list-style-type: none; /* Removes default list bullets */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  display: flex;
  gap: 5px; /* Adds spacing between child elements */
}

.element-to-be-centered {
  margin-right: auto;
  margin-left: auto;
}