#vwrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  background-color: lightgray;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
}

#journalMainBody {
  flex: 2 1 auto;
  overflow-y: auto;
}

#tradesMainBody {
  flex: 1 1 auto;
  overflow-y: auto;
}

.container-with-centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-Grow: 1;
  flex-Shrink: 1;
}

ul {
  list-style-type: none; /* Removes default list bullets */
  display: flex;
  gap: 5px; /* Adds spacing between child elements */
}