#vwrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

header {
  background-color: lightgray;
  text-align: center;
}

footer {
  background-color: lightgray;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px)
}

#journalMainBody {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  flex: 2 1 auto;
}

#tradesMainBody {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  flex: 1 1 auto;
}


.flexChildCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  flex: 1 1 auto;
}



------
.gridstuff {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;}

  #flexstuff {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }